CMakeCache.txt
CMakeFiles
XCode
cmake_install.cmake
Makefile
bin
lib
release
debug
gmm-bic.d/gmm-bic
*.a
*.o
*.swp
*.swo
*.bak
*~
*.jam
CMakeScripts
pepsplice/pepsplice
pepnovo/pepnovo
directag/directag/directag
Project.build
Project.xcodeproj
Release
directag/DIRECTAG.xcodeproj/project.pbxproj
gmm-bic.d/Debug/gmm-bic
*.orig
.DS_Store
*.svn
